{% extends 'base.html.twig' %}

{% block title %}Fiches{% endblock %}

{% block body %}
    {% for form in forms %}
        {% if form.state == 2 %}
            <ul>
                <li><a href="{{ path("app_form_show_id", {'id': form.id }) }}">Fiche {{ form.id }} | {{ form.title }} | {{ form.state }}</a></li>
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
