{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <div class="searchSystem">
        <input type="text" id="searchInput" placeholder="rechercher">
        <button id="searchButton">Valider</button>
    </div>
    <div class="helpCom">
        Aide la communauté et <span>résous</span> des <span>soucis</span>
    </div>
{% endblock %}