.menu {
    @apply flex justify-between items-center fixed w-full top-0 left-0 h-14 p-12;
    background-color: #F4F4F4;
    box-shadow: 0px 0px 11px 0px #000000;
    z-index: 1000;
    &__img {
        & img {
            @apply h-14; 
        }
        
    }
    & nav {
        @apply flex justify-between items-center w-2/4;
        & a {
            @apply bg-red-800 cursor-pointer;
        }
    }
}